@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 100px;
    /* Offset for fixed header */
}

/* Specific extra offset for contact/footer section as requested */
#contact {
    scroll-margin-top: 200px;
}
#product {
    scroll-margin-top: 85px;
}